

.display input
{
    position:relative;
width: 100%;
  font-size: 2rem;
  height: 100px;
  border: none;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

.buttonld{
    width:99.34px;
    height:71.8px;
    font-size: 18px;
      border: 1px solid #252525;
    color: white;
    background: #696969;
}
.buttonll{
    width:99.34px;
    height:72px;
    font-size: 18px;
    color: white;
    background:#778899;
    border: 1px solid #252525;
}
.buttonry{
  width:90px;
    height:72px;
    color: white;
    background:#FFA500;
    border: 1px solid #252525;
    font-size: 18px;
}
.buttonllw{
    width:200px;
    height:72px;
    background:#778899;
    color: white;
    border: 1px solid #252525;
    font-size: 18px;
}
.calculator {
 border: 1px solid #ccc;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 392px;
  background-color: #252525;
}

p {
   margin: 0px;
   padding: 0px;
}


